[Unit]
Description=AMR to MQTT
After=network.target

[Service]
Type=simple
User=root
ExecStartPre=-/bin/sleep 120
ExecStart=/opt/amr2mqtt/amr2mqtt
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=amr2mqtt

[Install]
WantedBy=multi-user.target
